In [6]:
import pandas as pd 
pd.__version__

'0.25.1'

In [7]:
#The Pandas Series Object is 1 D array of the indexed data

In [13]:
data = pd.Series([1,2,3,4,5,6])##we can add index which is optional , we will see later 
data

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [17]:
#Series wraps both a sequence of values and a sequence of indices lets see:
data.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [20]:
data.index

RangeIndex(start=0, stop=6, step=1)

In [29]:
#print data  in reverse in the data series 
data[::-1]
#note that  the data is printed in reverse along with  the indedxes  this means that the data has been 
#assigned its index and ot wont change unless made

f    6
e    5
d    4
c    3
b    2
a    1
dtype: int64

In [25]:
#use strings as an index:

In [36]:
data = pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
data

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [37]:
#print data  in reverse in the data series 
data[::-1]
#note that  the data is printed in reverse along with  the indedxes this means that the data has been 
#assigned its index and ot wont change unless made

f    6
e    5
d    4
c    3
b    2
a    1
dtype: int64

In [40]:
data['a']

1

In [42]:
#pandas series as a dictionary

In [49]:
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
##this lis like 2 colns for the table

In [50]:
#access a  value by the reference of key in dict 
population_dict['California']

38332521

In [52]:
population_dict

{'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [56]:
##view this as a series in pandas:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [61]:
#similar operation like dseries can be performed here as well :
population['California'    :'Florida'      ]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [64]:
#The Pandas DataFrame Object:

In [69]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area=pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [70]:
#we can use a dictionary to construct a single two-dimensional object containing this information:

In [74]:
states=pd.DataFrame({'population':population,'area':area})
states#print the compbined table a.k.a dataframe

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [77]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [80]:
states.columns

Index(['population', 'area'], dtype='object')

In [82]:
#note that they both have data type as object

In [90]:
only_population=pd.DataFrame(population,columns=['population'])
only_population

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [95]:
#unions, intersections, differences, and other combinations can be computed in a familiar way in indexes:
indexA=pd.Index([1,2,3,4,5])
indexB=pd.Index([4,5,6,7,8])
indexA&indexB
indexA|indexB
# symmetric difference
indexA^indexB

Int64Index([1, 2, 3, 6, 7, 8], dtype='int64')